# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Environment variables
server/.env
.env

# Build files
client/dist/

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db